SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/1Vdv7TCbpj-bkKU1xt2XGsYLzBqcsLIs
DEPLOYER_PRIVATE_KEY=0x6f2a5bcf85338e7f7207e8004f6cb569641a5a6eb3b7a793c3cc9339c1bcee25
GATEWAY_ADDRESS=0xYourGatewayAddress
TOKEN_A=0xUnderlyingTokenA
TOKEN_B=0xUnderlyingTokenB
CTOKEN_A_NAME=Confidential Token A
CTOKEN_A_SYMBOL=cTKNA
CTOKEN_B_NAME=Confidential Token B
CTOKEN_B_SYMBOL=cTKNB
